<div (logIn)="checkStatus()" (logOut)="checkStatus()" class="ui menu main inverted top fixed">
  <div class="ui container">
    <div class="ui left menu inverted">
      <a class="item header " [routerLink]="['Courses']">
        <i class="student huge icon inverted" style="color:"></i>
        <p class="ui">Kasetsart Enrollment</p>
      </a>
    </div>
    <div class="ui right menu two inverted">
      <div class="item">
        <a *ngIf="isLogin" class="ui button inverted">
            Courses
        </a>
      </div>
      <!-- <div class="item">
        <a *ngIf="isLogin" class="ui button inverted">
            My Course
        </a>
      </div> -->
      <div *ngIf="!isLogin" class="item">
        <a class="ui button inverted" [routerLink]="['Login']">
          login
        </a>
      </div>
      <div *ngIf="isLogin" class="ui dropdown item">
        {{user.id}}
        <div class="menu">
          <a class="item">Log out</a>
        </div>

      </div>
    </div>
  </div>
</div>
