<div class="ui menu inverted top fixed">
  <div class="ui container">
    <div class="ui left menu inverted">
      <a class="item header ">
        <i class="student huge icon" style="color:"></i>
        <p class="large">Kasetsart</p>
      </a>
    </div>
    <div class="ui right menu inverted">
      <div class="item">
        <a *ngIf="isLogin" class="ui button inverted">
            Courses
        </a>
      </div>
      <div class="item">
        <a *ngIf="isLogin" class="ui button inverted">
            My Course
        </a>
      </div>
      <div class="item">
        <a *ngIf="!isLogin" class="ui button inverted" [routerLink]="['Login']">
          login
        </a>
      </div>
    </div>
  </div>
</div>
