
<div class="ui main container " style="background-color: white" *ngIf="course">
  <div class="" style="margin: 10px;">
    <h1 class="ui header black dividing" style="padding-top:25px;" >
      {{course.id}} : {{course.name.en}}
    </h1>
    <div class="ui divided item" >
      <div class="content" style="margin-top:10px;">
        <div class="description">
          <h2 class="sub header">Course Description : </h2>
          <div class="meta">
            <p>
              {{course.description.en}}
            </p><br />
          </div>
        </div>
      </div>
      <div class="content" >
        Credit : {{course.credit.total}}({{course.credit.lecture}}-{{course.credit.lab}}-{{course.credit.self}})
      </div>
      <div class="divider ui">

      </div>
      <div class="content">
        <h2 class="ui header">Enrollment : </h2>
        <div class="" *ngIf="!sections">
            Course is not offered in this semester.
        </div>
        <div *ngIf="sections">
          <div class="cards three ui stackable link">
            <div class="ui card" *ngFor="let sec of sections">
              <div class="content">
                  <div class="header">
                      <p>
                        Section : {{sec.id}}
                      </p>
                  </div>
                  <div class="meta">
                    <p>
                      {{sec.date}}
                    </p>
                  </div>
              </div>
              <div class="content">
                <p>
                  Type : {{sec.type}}
                </p>
                <p>
                  Instructor : {{sec.instructor}}
                </p>
                <p>
                    location : {{sec.location}}
                </p>

              </div>
                  <button *ngIf="!isEnroll"
                    (click)="enroll(sec.id)"
                    class="ui attached bottom teal button fluid"
                    type="button"
                  >
                    <i
                        class="student icon">
                    </i>
                    Enroll
                  </button>
                  <button *ngIf="isEnroll"
                    class="ui attached bottom red button fluid"
                    type="button"
                  >
                    <i
                        class="student icon">
                    </i>
                    withdraw
                  </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>


</div>
